<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn"> Criar Pensamento</a>
    </div>
        <h3>Seus pensamentos</h3>
        <ol>
        {{#each toughts}}
          <li>
           <span class="label">{{this.title}}</span> 

           <span class="actions">
             <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
             <form action="/toughts/remove/{{this.id}}">
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="submit" value="excluir" class="btn">
             </form>
           </span>
            </li>
        {{/each}}
        {{#if emptyToughts}}
           <p>Não há pensamentos registrados em seu nome, comece a criar <a href="/toughts/add">clique aqui</a></p>
        {{/if}}
        </ol>
</div>